AllphiFleet/WCFReadClient/Connected Services/WCFReadServices/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2112/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFReadEntities" />
  <xs:element name="GetDrivers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFReadEntities" minOccurs="0" name="GetDriversResult" nillable="true" type="q1:ArrayOfDriver" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddresses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFReadEntities" minOccurs="0" name="GetAddressesResult" nillable="true" type="q2:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>