FleetProject/WCFReadClient/Connected Services/WCFReadServices/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2112/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Models.Enums" />
  <xs:complexType name="ArrayOfDriver">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Driver" nillable="true" type="tns:Driver" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDriver" nillable="true" type="tns:ArrayOfDriver" />
  <xs:complexType name="Driver">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models.Enums" minOccurs="0" name="DriverLicenseType" type="q1:DriverLicenseTypes" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuelCard" nillable="true" type="tns:FuelCard" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocSecNr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Driver" nillable="true" type="tns:Driver" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zipcode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="FuelCard">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Enums" minOccurs="0" name="AuthType" type="q2:AuthenticationTypes" />
      <xs:element minOccurs="0" name="CardNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Options" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pincode" type="xs:int" />
      <xs:element minOccurs="0" name="ValidUntilDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuelCard" nillable="true" type="tns:FuelCard" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="ArrayOfFuelCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuelCard" nillable="true" type="tns:FuelCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuelCard" nillable="true" type="tns:ArrayOfFuelCard" />
</xs:schema>